[phases.setup]
nixPkgs = ["nodejs_20", "pnpm", "nginx"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "nginx -c /app/nginx.conf"
